*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;;
}

.homepage--image{
    width: 100%;
}
.Welcome--header{
    font-size: 40px;
    margin: 25px 0;
}
.Welcome--text{
    font-size: 22px;
    width: 70%;
    line-height: 35px;
    text-align: left;
    position: relative;
    left: 150px
}
.about--intro{
    margin: 20px 30px;
}


.nav--bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(119, 161, 107);
    height: 10vh;
}
.nav--lists{
    display: flex;
    margin: 10px 80px;
}
.nav--lists li{
    list-style: none;
    text-decoration: none;
    margin: 20px 40px;
    padding: 10px;
    /* border: 1px solid black; */
    color: #dadada;
}

.nav--lists li:hover{
    border-bottom: 2px solid white;
    border-bottom-width: 2px;
    border-radius: 2px;
}
.nav--lists li a{
    list-style: none;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    color: #fff;
    padding: 5px;
}

.nav--bar .logo{
    position: relative;
    margin: 30px 10%;
    font-family: 'Times New Roman', Times, serif;
    color: #fff
}
.landing--page{
    background-color: rgb(117, 161, 103);
    height: 270px;
    min-width: 95%;
    max-width: 100%;
    padding: 0;
    margin: 0;;
}
.user--name{
    position: relative;
    top: 30px;
    left: 30px;
    font-size: 20px;
    color: #fff;
}
.more--contents{
    position: relative;
    top: 50px;
    margin: 10px 40px;
    display: flex;
    justify-content: space-around;
}
.content{
    border: 1px solid rgb(114, 113, 113);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.website--search--bar{
    position: relative;
    top: 80px;
    border: 1px solid grey;
    width: 30%;
    left: 35%;
    border-radius: 40px;
    background-color: #fff;
}
.website--search--bar input{
    position: relative;
    height: 6vh;
    width: 90%;
    /* border: 1px solid grey; */
    border-radius: 4px;
    outline: none;
    font-size: 17px;
    color: rgb(75, 75, 75);
    border-radius: 40px;
    left: 40px;
    border: none
}
.website--search--bar input::placeholder{
    font-size: 17px;
    position: relative;
    left: 10px;
    color: rgb(172, 171, 171)
}
.website--search--bar button{
    position: relative;
    left: 100px;
    height: 6.3vh;
    width: 100px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.website--search--bar button:hover{
    background-color: rgb(100, 156, 100);
    color: #fff;
    cursor: pointer
}
.content--text{
    text-align: center;
    color: #fff;
    font-weight: 400;
}
.hotels--feel{
    /* border: 1px solid black; */
    width: 90%;
    display: flex;
    position: relative;
    top: 20px;
    left: 5%;
    justify-content: space-around;
    /* border: 1px solid grey; */
    height: 200px;
    display: flex;
    margin: 0 0 150px;
}
.hotels--card{
    width: 350px;
    height: 300px;
    /* border: 1px solid grey; */
    margin: 10px 20px 10px;
    border-radius: 8px;
    cursor: pointer;
}
.hotels--card .continent--name{
    color: #000;
    width: 200px;
    position: relative;
    top: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.hotels--card .hotels--present{
    color: #000;
    width: 100px;
    position: relative;
    top: 50px;
    display: flex;
}

.continent--description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 7%;
    color: grey
}
.hotels--present span{
    display: flex;
    position: relative;
    margin: 2px 10px;
    color: rgb(153, 153, 153);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.hotels--card img{
    width: 100%;
    border-radius: 8px;
    background: blur(8px);
    height: 150px;
}
.hotels--card img:hover{
    transform:  scale(1, 1);
    transition: 2s;
}

.hotels--card p{
    position: relative;
    top: -60px;
    font-size: 25px;
    font-family: sans-serif;
    color: #ffffff;
    font-weight: bold;
    left: 50px
}
.hotel--txt{
    font-family: sans-serif;
    font-size: 25px;    
    margin: 10px 5px;
}
.hotels--selections{
    margin: 5px 110px;
}
.card--cover h1{
    margin: 0 120px;
    color: rgb(107, 107, 107);
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hotels--selections{
    display: flex;
}
.about--us{
    width: 80%;
    /* border: 1px solid grey; */
    margin: 20px 10% 5%;
}
.about--us h1{
    margin: 0 30px;
}
.about--us--content p{
    font-size: 20px;
    margin: 20px 100px;
    line-height: 30px;
    width: 80%;

}

.featured--cover{
    border: 1px solid black;
    height: auto;
    width: 90%;
    margin: 10px 5%;
    height: 20px
}

.featured--hotels{
    display: flex;
    flex-direction: row;
    margin: 5% 5%;
    /* border: 1px solid black; */
    width: 90%;
    justify-content: space-around;
}
.hotel--card{
    border-radius: 8px;
    position: relative;
    width: 300px;
    /* box-shadow: 0px 4px 5px rgba(0,0,0,0.2); */
    margin: 0 30px;

}

.hotel--card img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 250PX;
}

.featured--h1{
    position: relative;
    top: 30px;
    left: 180px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 10px;
    color: grey;
}
.hotel--card p{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px ;
}
.requested--page{
    height: 100vh
}

.requested--page{
    /* border: 1px solid black; */
    width: 90%;
    margin: 0 5%;
    height: auto;
}
.selected--hotel--img img{
    width: 70%;
    height: 600px;
    position: relative;
    left: 15%;
}
.selected--hotel--img p{
    position: relative;
    top: -536px;
    right: 816px;
    font-size: 70px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #0000006e;
    width: 200px;
    height: 100px;
    display: inline;
}
.selected--hotel--rooms{
    display: flex;
    flex-direction: row;
    width: 90%;
    /* border: 1px solid grey; */
    margin: 0 5%;
}
.selected--room--card{
    width: 400px;
    height: 550px;
    margin: 10px 5%;
    /* border: 1px solid grey; */
    border-top-left-radius: 8px;
}
.selected--room--card img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid grey;
}
.selected--room--card p{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 3px 0;
}
.selected--room--card button{
    width: 200px;
    height: 3vh;
    background-color: rgb(97, 133, 97);
    color: #fff;
    border: 1px solid grey;
    margin: 20px 0;
    cursor: pointer;
}
.selected--room--card button:hover{
    background-color: #000000e1;
}
.hotel--description{
    /* border: 1px solid grey; */
    width: 90%;
    margin: 5px 5% 10%; 
}
.hotel--description p{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hotel--description .hotel--mission{
    font-size: 35px;
    margin: 0 0 2%;
    text-decoration: underline;
}
.selected--room{
    height: 100vh;
    display: flex;
    /* justify-content: space-between; */
}
.sign--in--date{
    width: 550px;
    display: flex;
    justify-content: space-between;
    height: 4vh;
    border: 1px solid grey;
    padding: 10px;
    position: relative;
    top: 20%;
    width: 300px;
}
.sign--in--date input[type="date"]{
    border: none;
    outline: none
}
.sign--in--date h1{
    position: relative;
    top: -10px;
    width: 100%;
}
.room--images{
    width: 60%;
    border: 1px solid grey;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    left: 200px;
    top: 5%
}
.room--photos{
    width: 450px;
    height: 400px;
}
.rooms--more{
    position: relative;
    top: -500px;
}
.room--details p{
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}