*{
    padding: 0;
    margin: 0;
}

.hotels--images{
    width: 100%;
    height: 600px;
}
.hotel--data{
    display: flex;
    flex-direction: row;

}
.bottom--cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonClicked{
    color: red;
}
.buttonNotClicked{
    color: grey;
}
.welcome--image{
    width: 80%;
    height: 650px;
    /* filter: blur(1px); */
    margin: 0 8%;
}
.welcome--text{
    position: absolute;
    top: 530px;
    color: #ffffff;
    font-size: 35px;
    left: 60%;
    width: 30%;
}
.search--input{
    position: relative;
    top: -530px;
    left: 70%;
    width: 300px;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(187, 184, 184);
    border-radius: 20px;
    background-color: #ffffff9c;
    font-size: 18px;
}
.search--input::placeholder{
    color: rgb(182, 178, 178);
}
.footer{
    /* border: 1px solid black; */
    height: 400px;
    background-color: rgb(117, 161, 103);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer .colums h1{
    margin: 30px 10px;;
    color: #fff;
    font-size: 25px;
}
.colums p{
    color: #fff;
    font-size: 19px;
    margin: 25px 0;
}

.hotels--card .hotel--card--details{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 5px;
    color: #757575;
    font-weight: 200;
}
.hotel--card--details--down{
    color: grey;
    position: relative;
    top: 4px;
}
.find--hotel--page{
    /* border: 1px solid black; */
    width: 90%;
    margin: 10px 5% 10%;
    height: auto;
}
.first--div{
    border: 1px solid rgb(207, 207, 207);
    width: 40%;
    display: flex;
    padding: 10px;
    border-radius: 240px;
    height: 3vh;
}

.first--div input{
    position: relative;
    left: 10%;
    top: -5px;
    width: 80%;
    height: 4vh;
    outline: none;
    font-size: 18px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.first--div p{
    position: relative;
    top: 13px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.single--hotel--div{
    /* border: 1px solid black; */
    width: 80%;
    margin: 0% 25% -9%;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 40vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(166, 231, 106);
}

.single--hotel--div img{
    width: 90%;
    position: relative;
    right: 10px;
    top: -10px;
    height: 417px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.hotel--image{
    width: 50%
}
.hotel--name{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: -10px
}
.more--selections{
    position: relative;
    right: 50px;
}
.more--selections p{
    font-size: 18px;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.more--selections button{
    position: relative;
    top: 100px;
    width: 200px;
    height: 40px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    background-color: rgb(108, 170, 240);
    border: 1px solid grey;
    border-radius: 8px;
    cursor: pointer;
}
.hotel{
    position: absolute;
    border: 1px solid black;
    height: 100vh;
    width: 100%;
    top:100px;
    right: 0px;
    background-color: #fff;
}
.main--login--page{
    height: 100vh;
    width: 80%;
    margin: 10px 10%;
    display: flex;
    justify-content: space-around;
}
.login--form--wrapper{
    border: 1px solid grey;
    width: 450px;
    height: 550px;
    border-radius: 4px;
    position: relative;
    top: 100px;
    left: 100px;
}
.login--form--wrapper h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 40px;
}

.login--fields{
    position: relative;
    top: 80px
}

.login--fields input[type="text"]::placeholder{
    position:relative;
    left: 10px;
    font-size: 19px;
}
.login--fields input[type="password"]::placeholder{
    position:relative;
    left: 10px;
    font-size: 19px;
}
.login--fields input[type="email"]::placeholder{
    position:relative;
    left: 10px;
    font-size: 19px;
}

.login--fields input[type="text"],
.login--fields input[type="password"],
.login--fields input[type="email"] {
    width: 90%;
    margin: 10px 5%;
    height: 4vh;
    outline: none;
    border: 1px solid grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.submit--button{
    width: 50%;
    height: 4vh;
    margin: 20px 20%;
    position: relative;
    top: 100px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: rgb(135, 192, 135);
}

.submit--button:hover{
    background-color: #000;
    color: #fff
}

.login--description{
    position: relative;
    top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    width: 40%;
    margin: 10px 0 40px;
}
.login--header--text{
    font-size: 35px;
}

.login--description p{
    font-size: 22px;
    margin: 10px ;
}

.room--modal--true{
    /* border: 1px solid black; */
    width: 450px;
    height: 900px;
    position: absolute;
    top: 200px;
    /* left: 20px; */
    background-color: rgb(169, 231, 154);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    overflow-y: auto;
}
.room--modal--false{
    display: none;
}
.top--layer button{
    position: relative;
    left: 90%;
    border: none;
    padding: 2px;
    font-size: 25px;
    background-color: #fff;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    top: 10px;
    background-color: #000;
    color: #fff;
}
.top--layer{
    border-bottom: 1px solid rgb(255, 255, 255);
    height: 50px;
    border-top-right-radius: 8px;
}
.room--number{
    width: 90%;
    border: 1px solid rgb(184, 184, 184);
    margin: 5px 5%;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
}
.room--number--number{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.first--div--reserve{
    display: flex;
    flex-direction: column;
    width: 50%
}
.first--div--reserve button{
    width: 80%;
    margin: 5px 0;
    position: relative;
    top: 110px;
    background-color: #000;
    padding: 5px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}
.first--div--reserve p{
    font-size: 20px;
}
.room--reserve--details{
    /* border: 1px solid grey; */
    width: 150px
}
.room--reserve--details .days{
    border: 1px solid grey;
    cursor: pointer;
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
    width: 200px;
    border-radius: 8px;
}
.day{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    /* padding: 2px */
}
.price--day{
    background-color: #000;
    width: 50%;
    color: #fff;
    position: relative;
    left: 10px;
    border-radius: 8px;
    text-align: center;
}
.is--available p{
    color: grey;
    font-size: 18px;
}
.selected--continent{
    /* border: 1px solid grey; */
    width: 100%;
    height: auto;
    background-color: #fff;
}
.top--bar{
    display: flex;
    width: 100%;
    background-color: rgb(119, 161, 107);
    height: 100px;
}
.top--bar p{
    position: relative;
    left: 10%;
    top: 30px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.search--in--continent{
    position: relative;
    left: 27%;
    top: 30px
}
.search--in--continent input{
    height: 5vh;
    width: 600px;
    border-radius: 50px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid grey;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.continent--hotels{
    /* display: flex;   */
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.single--hotel--continent{
    width: 790px;
    border: 1px solid rgb(192, 188, 188);
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    /* padding: 5px; */
    margin: 10px 0;
}
.hotel--image--continent img{
    width: 350px;
    height: 350px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.more--selections--continent{
    position: relative;
}
.more--selections--continent .hotel--name{
    margin: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.more--selections--continent button{
    position: relative;
    top: 30px;
    width: 200px;
    height: 4vh;
    left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: rgb(57, 168, 233);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.more--selections--continent p{
    margin: 10px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.all--hotels{
    display: grid;
    grid-template-columns: auto auto;
}
.hotel--rating{
    position: absolute;
    top: -10px;
    left: 66%;
    background-color: #000;
    color: #fff;
    /* display: flex; */
    width: 100px;
    padding: 5px 10px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 10px;
}