*{
    padding: 0;
    margin: 0;
}

.hotels--images{
    width: 100%;
    height: 600px;
}
.hotel--data{
    display: flex;
    flex-direction: row;

}
.bottom--cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonClicked{
    color: red;
}
.buttonNotClicked{
    color: grey;
}
.welcome--image{
    width: 80%;
    height: 650px;
    /* filter: blur(1px); */
    margin: 0 8%;
}
.welcome--text{
    position: absolute;
    top: 530px;
    color: #ffffff;
    font-size: 35px;
    left: 60%;
    width: 30%;
}
.search--input{
    position: relative;
    top: -530px;
    left: 70%;
    width: 300px;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(187, 184, 184);
    border-radius: 20px;
    background-color: #ffffff9c;
    font-size: 18px;
}
.search--input::placeholder{
    color: rgb(182, 178, 178);
}
.footer{
    /* border: 1px solid black; */
    height: 400px;
    background-color: rgb(117, 161, 103);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer .colums h1{
    margin: 30px 10px;;
    color: #fff;
    font-size: 25px;
}
.colums p{
    color: #fff;
    font-size: 19px;
    margin: 25px 0;
}

.hotels--card .hotel--card--details{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 25px 20px;
}

.find--hotel--page{
    /* border: 1px solid black; */
    width: 90%;
    margin: 10px 5% 10%;
    height: auto;
}
.first--div{
    border: 1px solid rgb(207, 207, 207);
    width: 40%;
    display: flex;
    padding: 10px;
    border-radius: 240px;
    height: 3vh;
}

.first--div input{
    position: relative;
    left: 10%;
    top: -5px;
    width: 80%;
    height: 4vh;
    outline: none;
    font-size: 18px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.first--div p{
    position: relative;
    top: 13px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.single--hotel--div{
    /* border: 1px solid black; */
    width: 80%;
    margin: 2% 25% 2%;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 40vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(166, 231, 106);
}

.single--hotel--div img{
    width: 90%;
    position: relative;
    right: 10px;
    top: -10px;
    height: 417px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.hotel--image{
    width: 50%
}
.hotel--name{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: -10px
}
.more--selections{
    position: relative;
    right: 50px;
}
.more--selections p{
    font-size: 18px;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.more--selections button{
    position: relative;
    top: 100px;
    width: 200px;
    height: 40px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    background-color: rgb(108, 170, 240);
    border: 1px solid grey;
    border-radius: 8px;
    cursor: pointer;
}
.hotel{
    position: absolute;
    border: 1px solid black;
    height: 100vh;
    width: 100%;
    top:100px;
    right: 0px;
    background-color: #fff;
}